@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="navbar-nav navbar-right navbar-nav-hover ms-6">
    @*Condicional para mostrar dropdown basado en rol. Habilitar despues de pruebas iniciales.*@
    @*@if (User.IsInRole("Admin")){
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                <li>
                    @Html.ActionLink("Panel Administrador", "Index", "Admin", null, new { @class = "dropdown-item" })
                </li>
                <li>
                    @Html.ActionLink("Listado de Cotizaciones", "Index", "Cotizacions", null, new { @class = "dropdown-item" })
                </li>
            </ul>
        </li>
        }

    @if (User.IsInRole("Admin") || User.IsInRole("Mecanico")) {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="mecanicoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mecánico
            </a>
            <ul class="dropdown-menu" aria-labelledby="mecanicoDropdown">
                <li>@Html.ActionLink("Ingreso Vehículo", "IngresoVehiculo", "Mecanico", null, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("Detalles Servicio", "DetallesServicio", "Mecanico", null, new { @class = "dropdown-item" })</li>
            </ul>
        </li>
    }*@


    <li>
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link text-white" })
    </li>
    <li><a class="nav-link text-white" href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesion  <i class="bi bi-box-arrow-right"></i></a></li>
</ul>
    }
}
else
{
<ul class="navbar-nav navbar-nav-hover ms-6" >
    <li class="nav-item ms-lg-auto  mx-2">
        @Html.ActionLink("Registrarse", "Register", "Account", null, new
              {
                  @class = "nav-link nav-link-icon me-2 text-white",
                  data_bs_toggle = "tooltip",
                  data_bs_placement = "bottom"
              })
    </li>
    <li class="nav-item ms-lg-auto">
        @Html.ActionLink("Iniciar Sesion", "Login", "Account", null, new
              {
                  @class = "nav-link nav-link-icon me-2 text-white",                
                  data_bs_toggle = "tooltip",
                  data_bs_placement = "bottom"
              })
    </li>
</ul>
}
