@model List<FastParts.Models.EncuestaViewModel>

@{
    ViewBag.Title = "Encuestas de Satisfacción";
}

<div class="container mt-4">

    <div class="col">
        <a href="@Url.Action("Index", "Admin")" class="btn btn-outline-secondary mb-3"> ← Volver al Panel de Administración </a>


    </div>

    <h2 class="mb-4">Encuestas de Satisfacción</h2>

    <div class="col">
        <a href="@Url.Action("Crear", "Encuesta")" class="btn btn-outline-primary mb-3">Crear</a>
    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Servicio</th>
                <th scope="col">Tiempo</th>
                <th scope="col">Trato</th>
                <th scope="col">Comentarios</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var encuesta in Model)
            {
                <tr>
                    <td>@encuesta.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@encuesta.CalificacionServicio</td>
                    <td>@encuesta.CalificacionTiempo</td>
                    <td>@encuesta.CalificacionTrato</td>
                    <td>@(!string.IsNullOrWhiteSpace(encuesta.ComentariosAdicionales) ? encuesta.ComentariosAdicionales : "-")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

